.card-list{
    margin: -.35rem;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .card-list a{
    height: 88px;
  }
  .card-item{
    margin: .35rem;
    border-radius:  10px;
    display: flex;
    transition: all .4s;
    box-shadow: 3px 2px 5px rgb(0 0 0 / 8%);
    background-image:linear-gradient(0deg,#e6e9f0 0%, #eef1f5 100%);
  }
  .card-item:hover{
    transform: translateY(-3px) scale(1.01);
    text-decoration: none !important;
  }
  .name{
    margin: .2rem 0 .3rem;
    font-size: 1.25rem;
  }
  .desc{
    font-size: .8rem;
    line-height: 1.1rem;
    opacity: .8;
    margin-bottom: .2rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .card-list p{
    margin: 0;
    padding: 0 1rem;
    transition: text-shadow .4s;
    text-align: center;
  }
  .card-list div{
    flex: 1;
    display: inline-block;
    padding: 1rem 0;
  }
  .card-img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin: 1rem 0 1rem 1rem;
    box-shadow: 3px 2px 5px rgb(0 0 0 / 8%);
    transition: all .4s;
  }